// GOOGLE FONTS
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;800&display=swap");

@import "./page";

* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

html,
body,
#root,
.App {
  position: relative;
  min-height: 100vh;
}

body {
  font-family: -apple-system, "Work Sans", BlinkMacSystemFont, "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
}
